/* ---------------------- DOLBY SAMPLE CSS ---------------------- */

/* Center an element using flex display. */
.center-screen-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

/* Center a screen using 50% transform. */
.center-screen-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.conference-btns .leave {
    display: none;
}

.conference-btns .camera-on {
    display: none;
}
/* used to hide camera icons before joining */
#camera-icon-container {
    opacity: 0.5;
    pointer-events: none;
}

.video-container {
    /* float: left; */
    /* width: 32%; */
    width: 225px;
    /* padding-bottom: 23%; */ /* = width for a 1:1 aspect ratio */
    margin: 0.4%;
    background-color: cornflowerblue;
    height: 225px;
    /* position: relative; */
    position: absolute;
    /* outline: 0px solid black; */
}

.active {
    outline: 5px solid lightgreen;
}

.caption {
    z-index: 1;
    position: relative;
    text-align: right;
    color: white;
    padding: 10px;
}

#control-container {
    background-color: #14151d;
    border-top: 2px solid #3e44fe;
}

.input-group {
    top: 20%;
}

video {
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
    z-index: 0;
    position: absolute;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
}

#main-wrapper {
    padding: 0;
    background-color: black;
    /* height: 100vh;
    width: 100vw; */
}

#main-view-container {
    position: relative;
    background-color: black;
}

#control-container {
    /* position: relative; */
    background-color: #212629;
}

#name-message {
    color: white;
}

/*
.copy-join-link {
    color: white;
    font-size: small;
    text-align: center;
}
*/

html,
body {
    height: 100%;
}

/* ---------------------- OUR CSS ---------------------- */

/* Page body */
body {
    /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    /* background: #393939 !important; */
    color: black;
    background-color: black;
}

img.logo {
    margin-right: 5px;
}

/* Add vertical scrollbars that are always visible to DIVs with this class */
div.vertical-scroll-bar {
    overflow:scroll;
}

/* Make all containers auto-width */
.container{
    width: auto;
}

.height-100-percent{
    height: 100%;
}

.width-100-percent{
    width: 100%;
}

input.my-mini-button {
    margin-left: 10px;
    margin-bottom: 3px;
    height: 25px;
    font-size: small;
    background-color: lightsteelblue;
    /* padding-top does the magic of centering the button text vertically. */
    padding-top: 3px;
}

/* Hide inactive floating form div elements */
div.hide-float-form-div {
    display: none;
    position: absolute;
    z-index: auto;
}

/* Show active floating form div elements */
div.show-float-form-div {
    left: 30px;
    top: 100px;
    display: block;
    position: absolute;
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
    z-index: 99;
    background-color: #dfdfdf;
    font-size: small;
}

div#header-div {
    padding: 3px;
    color: lightsalmon;
}

button.my-btn {
    margin: 3px;
}

div#buttons-row-div {
    width: auto; /* To keep the button row DIV from spilling out of the parent DIV */
}

/* Button toolbar */
button#add-bookmark-button {
    background-color: bisque;
}

button#select-video-button {
    background-color: rosybrown;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

button#play-all-button {
    background-color: lightpink;
}

button#play-from-here-button {
    background-color: plum;
}

/* Four Quadrant page styles */

div.quadrant-top-left {
    clear: both;
    float: left;
    width: 650px;
    height: 440px;
    background-color: grey;
    padding: 5px;
}

div.quadrant-bottom-left {
    clear: both;
    float: left;
    width: 650px;
    height: 400px;
    color: paleturquoise;
    background-color: darkslategray;
    padding: 5px;
}

div.quadrant-top-right {
    float: left;
    padding: 8px;
    width: 300px;
    height: 440px;
    background-color: lavender;
    padding: 5px;
}

div.chat-room {
    background-color: whitesmoke;
    margin: 2px;
    height: 436px;
}

input#chat-message-input{
    width: 242px;
}

div.quadrant-bottom-right {
    float: left;
    padding: 8px;
    width: 300px;
    height: 400px;
    background-color: paleturquoise;
    padding: 5px;
}

div.player-list {
    background-color: whitesmoke;
    margin: 2px;
    height: 316px;
}

div#online-users-list-div {
    background-color: white;
    height: 390px;
    color: blue;
}

div.online-user {
    height: 25px;
}

p.quadrant-title {
    font-size: large;
    color: black;
}

/* ------------ Winners report -------------- */

td.winner_name {
    color: lightsalmon;
    font-size: medium;
}

td.winner_video_title {
    color: white;
    font-size: x-large;
}

/* ------------ Online users list and Chat Room -------------- */

div.chat-message-div{
}

ul#chat-message-list-ul{
    padding: 0px; /* Override container class padding setting of 24px */
}

div.chat-message-holder{
    height: 25px;
}

span.screen-name {
    float: left;
    margin-left: 3px;
    color: palevioletred;
}

input.screen-name {
    color: black;
}

span.online-user-status {
    float: right;
    margin-right: 10px;
}

span.chat-message-content {
    float: right;
    margin-right: 10px;
}

input.user-ethereum-public-address{
    color: black;
}

/* ---------------- Game creation form ----------------------*/

div#chat-room-name-div{
    width: 60%;
    float: left;
}

div#create-game-button-host-div{
    width: auto;
    float: right;
    margin-right: 5px;
}


/* ---------------- Common Form Styles ----------------------*/

button.select-video {
    color: black;
    background-color: darkorange;
}

#button-row-div {
    display: block;
}

div.button-row {
    display: block;
    margin-bottom: 10px;
}

div.form-elements-container{
    clear: left;
    float: left;
}

div.buttons-row-container{
    clear: left;
    float: left;
    margin-top: 10px;
}

div.field-value-holder{
    clear: left;
    float: left;
}

label.generic-label{
    color: turquoise;
    min-width: 150px;
}

span.generic-value{
    color: white;
    margin-left: 3px;
}

button.generic-button{
    background-color: mistyrose;
    color: black;
}

input.game-invite-link{
    float: left;
    height: 30px;
    width: 500px;
}

input.copy-to-clipboard{
    float: left;
}

/* --------------- Help Area related, lower left quadrant */

div.pg-help{
    margin-top: 20px;
}

p.pg-help{
    padding: 10px;
    color: #393939;
    background-color: whitesmoke;
}

div#time-location-marked-div{
    float: right;
    margin-left: 20px;
}

span#marked-video-location-span{
    margin-left: 10px;
    color: whitesmoke;
}

/* --------------- Metamask detection area */
div#metamask-detection-graphic {
    float: left;
}

div#metamask-detection-text {
    padding: 10px;
    float: right;
}

div#page-title-div {
    height: 2em;
    width: 640px;
}

div#page-title-text-div {
    width: 85%;
    float: left;
}

div#page-title-timer-div {
    width: 30%;
    float: right;
}

select#pick-video-select {
    color: darkred;
}

/* The spatial audio mixer DIV. */
div#mixer-div {
    width: 800px;
    height: 300px;
    border: 2px solid black;
    border-color: #3c4bf4;
    display: none;
}

/* The track avatar DIVs. */
div.track-avatar {
    width: 1000px;
    height: 100px;
    color: white;
    background-color: blue; !important;
    position: absolute;
}

/* The style for SELECTED track-avatar DIVs. */
div.track-avatar.selected {
    border: 2px solid red;
}

#test-btn {
    height: 100px;
    width: 100px
}

#outer-table-div {
    /* position: absolute; */
    display: inline-block;
    width: 100%;
}

#outer-table {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */
    width: 1040px;
    font-size: 1.6rem;
}

#button-row-table {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

div.toolbar-btn {
    float: left;
    margin-right: 10px;
}

/* THREE.JS CANVAS HOLDER DIV */
#canvas-div {
    width: auto;
    heigh: auto;
    float: right;
}

#youtube-player-host-div {
    display: none;
}

.button-row-td{
    /* margin: 10px; */
    padding: 1px;
    align: left;
}

/* Override bootstrap CSS for input boxes. */
.my-text-class,
my-text-class-text {
    /* See outer-table CSS. */
    /* font-size: 1.8rem; !important; */
}

#instructions-div {
    color: #1c78de;
}

#sfx-diagnostics {
    color: white;
    padding: 10px;
    width: 700px;
    height: 50px;
    /* background-color: cornflowerblue; */
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    visibility: visible;
}

/* -------------------- EZ-DIALOG --------------------- */

td.ez-dialog {
    padding: 15px;
}

div.floating-div {
    position: absolute;
    z-index: 100;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    padding: 10px;
    width: auto;
    height: auto;
    overflow: auto;
    /* visibility: hidden; */
}

#unused-buttons-div, #hidden-elements-div {
    display: none;
}

/* --------------------- FPS CONTROLS HELP --------------------- */

/* The style for DIVs that hold an FPS movement key/graphic pair. */
.fps-info {
    float: left;
    /* border: 2px solid black; */
    border-color: #3c4bf4;
}

/* Make the ESCAPE key font smallerer. */
#escape-key-p {
    font-size: 2rem;
}

/* The style for DIVs that hold the graphic associated with an FPS
    movement key.
 */
.fps-controls-graphic-div {
    float: left;
    margin-left: 05px;
    height: 100px;
    width: 100px;
}

/* The style for IMGs that hold the an FPS movement graphic. */
img.fps-controls-img {
    // Shrink to fit.
    max-width:100% !important;
    max-height:100% !important;
}

img.fps-controls-left-right-arrow {
    margin-top: 13px;
}

img.fps-controls-arrow {
    margin-top: 1px;
}

/* The style for DIVs that hold the an FPS movement key. */
.fps-controls-keyboard-character-div {
    color: white;
    float: left;
    font-size: 2em;
    margin-left: 0px;
}

/* The IMG that holds the microphone unmute button. */
.microphone-btn {
    /* margin-bottom: 17px; */
    margin-top: 12px;
    margin-right: 11px;
    cursor: pointer;
}

/* The IMG that holds the microphone mute button. */
.microphone-btn {
    margin-bottom: 17px;
    margin-right: 11px;
    cursor: pointer;
}

/* The DIV that holds the video-camera unmute button. */
div.video-camera-btn {
    /* margin-bottom: 1px; */
    /* margin-top: 12px */
    /* margin-right: 11px; */
    /* cursor: pointer; */
}

/* The IMG that holds the video-camera mute button. */
img.video-camera-btn {
    margin-top: 12px;
    margin-right: 11px;
    cursor: pointer;
}



/* The DIV that holds the microphone mute button. */
#mic-muted-div {
    display: none;
}

/* The DIV that holds the microphone unmute button. */
#mic-unmute-div {
    display: block;
}

/* The DIV that holds the button that turns the video camera ON. */
#vidcam-on-div {
    display: none;
}

/* The DIV that holds the button that turns the video camera OFFN. */
#vidcam-off-div {
    display: block;
}

/* The IMG that holds the device settings button. */
.device-settings-btn {
    margin-bottom: 17px;
    cursor: pointer;
}

/* The DIV that ThreeJS renders into.  Initially it is hidden. */
#threejs-canvas-div {
    display: none;
}

/* The DIV that holds the LOADING waiting room image.  Initially it is shown. */
#waiting-room-div-1 {
    /* Center the waiting room image inside the DIV. */
    text-align: center;
    display: block;
}

/* The DIV that holds the READY waiting room image.  Initially it is hidden. */
#waiting-room-div-2 {
    /* Center the waiting room image inside the DIV. */
    text-align: center;
    display: none;
}

/* The DIV that is shown holds the waiting room image. */
div.waiting-room {
    max-width: 800px;
    max-height: 800px;
}

/* The IMG that his shown inside the waiting room DIV. */
img.waiting-room {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* The DIV that holds the start world button.  Initially it is shown. */
#start-room-div {
    /* Center the waiting room image inside the DIV. */
    text-align: center;
    display: block;
}

.custom-select {
    display: block;
    margin-bottom: 10px;
}

/* This didn't work.  Background image didn't show.
.centered-button-over-image span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: url(/images/u-controls/start-world-sml.png) no-repeat center center;
}
 */